.App {
  min-height: 100vh;
  height: 100%;
  max-width: 100vw;
  background-color: #292929;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 1px 1px 3px black;
}

table {
  border-spacing: 0px;
}

h1 {
  margin: 10px;
  margin-bottom: 15px;
  color:white;
  text-shadow: 2px 2px 3px black;
}

.number {
  color:rgba(232, 65, 14, 1);
}
.scoreboard {
  font-size: 1.5em;
  font-weight: 600;
  border: 1px solid black;
  border-bottom: none;
}

.scoreboard .teamName {
  padding: 8px 20px 8px 8px;
  width: 100%;
}

.scoreboard .score {
  padding: 8px 12px;
  text-align: center;
}

.scoreboard td {
  border: 1px solid black;
}

.lastGame {
  background: linear-gradient(90deg, rgba(232, 65, 14, 0.5), rgba(200, 16, 47, 0.5));
  
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 3px black;
}

.lastGameStats {
  width: 100%;
  font-size: 1.2em;
  border: 1px solid black;
  border-top: none;
  
}

.lastGameStats th {
  padding: 4px 8px;
  font-weight: 400;
  border: 1px solid black;
}

.lastGameStats td {
  text-align: center;
  font-weight: 500;
  border: 1px solid black;
  padding: 4px 8px;
}

.stat {
  font-weight: 600;
  font-size: 1.4em;
  padding-right: 6px;
}

.label {
  font-weight: 500;
  font-size: 0.9em;
}

.flaStats {
  padding: 10px;
  border: 2px solid black;
  text-shadow: 1px 1px 3px black;
  border-top: none;
}


.nextGame {
  background: linear-gradient(90deg, rgba(232, 65, 14, 0.5), rgba(200, 16, 47, 0.5));
  padding: 10px;
  border: 2px solid black;
  text-shadow: 1px 1px 3px black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.nextGame .dateTime {
  text-align: right;
  margin-left: 25px;
}

.tabBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tabBtns button {
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid black;
  width: 50%;
  box-sizing: border-box;
  flex-grow: 1;
  color: white;
  text-shadow: 1px 1px 3px black;
  padding: 5px;
  font-size: 1em;
}

.statsContainer {
  background: linear-gradient(90deg, rgba(232, 65, 14, 0.5), rgba(200, 16, 47, 0.5));
  margin-bottom: 15px;
}

.tabBtns .playoffBtn {
  border-right: 1px solid black;
}

.tabBtns .seasonBtn {
  border-left: 1px solid black;
}


.tabBtns .selectedBtn {
  border-bottom: none;
  font-weight: 700;
  background: none;
}